body {
   background-color: bisque;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 20px;
   padding: 10%
}

.myClass {
   color: aqua;
}
